@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,500,700&display=swap);body {
  position: relative;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  margin: auto;
}

.rs_btn {
  text-align: center;
  display: inline-block;
  padding: 10px 30px 7px;
  background: #57813a;
  color: #fff;
  border-radius: 5px;
  min-width: 180px;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  font-weight: 700;
  border: 2px solid #57813a;
  text-transform: uppercase;
}

.rs_btn:hover {
  background: #fff;
  color: #57813a;
}

.social_nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social_nav li {
  display: inline-block;
  margin-left: 10px;
}

.social_nav li:first-child {
  margin-left: 0;
}

.social_nav li a {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  line-height: 40px;
}

.social_nav li a:hover {
  border: 1px solid #57813a;
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
}

.burger .burger_icon {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.main_nav .burger {
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 99;
}

.main_nav .burger .burger_icon {
  width: 45px;
  height: 45px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}

.main_nav .main_nav_container {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  width: 420px;
  height: 100vh;
  box-shadow: -4px 5px 20px 3px rgba(60, 2, 3, 0.65);
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  background: #700203;
}

.main_nav .main_nav_container .nav_logo {
  width: 160px;
  margin: 100px auto 30px;
}

.main_nav .main_nav_container .primary_nav {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main_nav .main_nav_container .primary_nav li {
  margin-bottom: 10px;
}

.main_nav .main_nav_container .primary_nav li a {
  color: #57813a;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
}

.main_nav .main_nav_container .primary_nav li.current_page a {
  font-weight: 400;
}

.rs_booking_cta_section {
  padding: 50px 0;
}

.rs_booking_cta_section .rs_booking_cta_holder {
  text-align: center;
}

.rs_booking_cta_section .rs_booking_cta_holder .rs_btn {
  background: #700203;
  border-radius: 4px;
  border: 2px solid #700203;
}

.rs_booking_cta_section .rs_booking_cta_holder .rs_btn:hover {
  background: #fff;
  color: #700203;
}

.rs_order_section {
  background: url(/images/order-bg.jpg?4b4662174a5d2635425f38d5f7c965bf) center/cover no-repeat;
}

.rs_order_section .rs_order_section_in {
  padding: 100px 85px;
  background: rgba(0, 0, 0, 0.5);
}

.rs_order_section .rs_order_section_in .delivery_btn_holder {
  text-align: center;
  margin-bottom: 60px;
}

.rs_order_section .rs_order_section_in .delivery_btn_holder .rs_btn {
  margin-right: 30px;
}

.rs_order_section .rs_order_section_in .delivery_btn_holder .rs_btn:last-child {
  margin-right: 0;
}

.rs_order_section .rs_order_section_in .order_btn_holder {
  text-align: center;
  margin: 60px 0 80px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.rs_order_section .rs_order_section_in .skip_btn_holder {
  text-align: center;
}

.rs_order_section .rs_order_section_in .skip_btn_holder .rs_btn {
  font-size: 20px;
}

.subscription_section {
  padding: 50px 0;
  background: #700203;
}

@media (min-width: 768px) {
  .subscription_section .subs_form .form-group {
    margin-bottom: 0;
  }
}

.subscription_section .subs_form .btn-primary {
  background: #57813a;
  border-color: #57813a;
}

.site_footer {
  background: url(/images/footer_bg.jpg?e4c8c20bea766f7b358b7f934cc78ed9) center/cover no-repeat;
  padding: 70px 0;
}

@media only screen and (max-width: 767px) {
  .site_footer {
    padding: 50px 0;
  }
}

.site_footer .foter_col {
  color: #fff;
}

@media only screen and (max-width: 767px) {
  .site_footer .foter_col {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .site_footer .foter_col.footer_col_1 {
    text-align: center;
  }
}

@media only screen and (max-width: 767px) {
  .site_footer .foter_col.footer_col_3 {
    margin-bottom: 0;
  }
}

.site_footer .foter_col.footer_col_3 .footer_list li {
  margin-left: 30px;
}

.site_footer .foter_col.footer_col_3 .footer_list li i {
  font-size: 18px;
  position: absolute;
  left: -30px;
  top: 4px;
}

.site_footer .foter_col.footer_col_2 {
  max-width: 300px;
}

.site_footer .foter_col.footer_col_2 .footer_list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}

.site_footer .foter_col .footer_logo {
  height: 150px;
  margin-left: 0;
  margin-bottom: 50px;
  display: inline-block;
}

.site_footer .foter_col .footer_title {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  position: relative;
}

.site_footer .foter_col .footer_title:before {
  content: "";
  display: inline-block;
}

.site_footer .foter_col a {
  color: #fff;
}

.site_footer .foter_col a:hover {
  color: #57813a;
}

.site_footer .foter_col .footer_list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site_footer .foter_col .footer_list li {
  margin-bottom: 18px;
  position: relative;
}

.site_footer .foter_col .footer_list li:last-child {
  margin-bottom: 0;
}

.home_banner {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  background: url(/images/line-work.png?10abf94d4ad71df2fc52b484663a9eb8) center/cover no-repeat;
}

.home_banner .site_content {
  max-width: 650px;
  width: 100%;
}

.home_banner .site_content .rs_logo .rs_logo_link {
  width: 200px;
  margin: 0 auto;
  display: block;
}

.home_banner .site_content .home_title h1 {
  font-weight: 400;
  text-align: center;
  color: #fff;
  margin: 0 0 50px;
  line-height: 1;
}

.home_banner .site_content .btn_container {
  text-align: center;
}

.home_banner .site_content .btn_container .btn_holder {
  margin-bottom: 20px;
}

.home_banner .site_content .btn_container .btn_holder:last-child {
  margin-bottom: 0;
}

.rs_cusine {
  background: url(/images/cuisine_bg.jpg?8520821634468912f1d90ce18162760b) center/cover no-repeat;
  padding: 100px 0;
}

.rs_cusine .rs_cuisine_in {
  background: #700203;
  padding: 30px;
}

.rs_cusine .rs_cuisine_in .rs_section_title {
  text-transform: uppercase;
  color: #57813a;
  text-align: center;
  margin: 20px 0 50px;
}

.rs_cusine .rs_cuisine_in .rs_cuisine_item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  width: 100%;
  color: #fff;
  margin: 0 0 30px;
}

.rs_cusine .rs_cuisine_in .rs_cuisine_item:last-child {
  margin: 0;
}

.rs_cusine .rs_cuisine_in .rs_cuisine_item .rs_cuisine_item_img {
  width: 28%;
}

.rs_cusine .rs_cuisine_in .rs_cuisine_item .rs_cuisine_item_img img {
  width: 100%;
}

.rs_cusine .rs_cuisine_in .rs_cuisine_item .rs_cusine_item_content {
  width: 78%;
  padding: 30px;
}

