.home_banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url(../images/line-work.png) center/cover no-repeat;
    .site_content{
        max-width: 650px;
            width: 100%;
        .rs_logo{
            .rs_logo_link{
                width: 200px;
                margin: 0 auto;
                display: block;
            }
        }
        .home_title{
            h1{
                font-weight: 400;
                text-align: center;
                color: #fff;
                margin: 0 0 50px;
                line-height: 1;
            }
        }
        .btn_container{
            text-align: center;
            .btn_holder{
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}

 // Cuisine scss here
 .rs_cusine{
    background: url(../images/cuisine_bg.jpg) center/cover no-repeat;
    padding: 100px 0;
    .rs_cuisine_in{
        background: $primaryColor;
        padding: 30px;
        .rs_section_title{
            text-transform: uppercase;
            color: $secondaryColor;
            text-align: center;
            margin: 20px 0 50px;
        }
        .rs_cuisine_item{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            color: #fff;
            margin: 0 0 30px;
            &:last-child{
            margin: 0;
            }
            .rs_cuisine_item_img{
                width: 28%;
                img{
                    width: 100%;
                }
            }
            .rs_cusine_item_content{
                width: 78%;
                // align-self: center;
                padding: 30px;
                // .rs_btn{

                // }
            }
        }
    }
}
