body{
    position: relative;
    font-size: 16px;
    line-height: 1.5;
    font-family: $primaryFont;
    color: $primaryTextColor;
    font-weight: 400;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-family: $primaryFont;
    color: $primaryTextColor;
}
a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
}
.rs_btn{
    text-align: center;
    display: inline-block;
    padding: 10px 30px 7px;
    background: $secondaryColor;
    color: #fff;
    border-radius: 5px;
    min-width: 180px;
    transition: all .4s ease-in;
    font-weight: 700;
    border: 2px solid $secondaryColor;
    text-transform: uppercase;
    &:hover{
        background: #fff;
        color: $secondaryColor;
    }
}